.bio-container {
  width: 90%;
  height: 400px;
  background-color: var(--white);
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.39);
}
.bio-container__foto img {
  width: 80px;
  border-radius: 50px;
  margin: 5px 0;
}
.bio-container p {
  font-size: 13px;
  text-align: justify;
  padding: 2px 10px;
}

/* MEDIA QUERIES DESKTOP */

@media (min-width: 1280px) {
  .bio-container {
    width: 500px;
    height: 400px;
  }
  .bio-container__foto img {
    width: 90px;
  }
  .bio-container p {
    font-size: 14px;
    text-align: justify;
    padding: 2px 10px;
  }
}
